.project-details {
    display: grid;
    margin-bottom: 200px;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    grid-gap: 60px;
    color: var(--dark-text-color);
}

/* project summary */
.project-summary {
    background-color: var(--light-bg-color);

    padding: 30px;
    border-radius: 4px;
}
.project-summary .page-title {
    color: var(--light-text-color);
    background-color: var(--primary-color);
    background-image: url('../../assets/pattern2.svg');
    display: flex;
    flex: auto;
    height: 100px;
    justify-content: left;
    align-items: center;
    line-break: auto;
    word-wrap: normal;
    padding: 0 20px;
    transition: all 0.2s ease;
}
.project-summary .page-title h2 {
    /* font-family: 'Syncopate', sans-serif; */
    letter-spacing: 0.1em;
    font-family: 'Major Mono Display', monospace;
    font-size: 3em;
    /* padding: 10px; */
    text-align: center;
}
.project-summary .due-date {
    margin: 10px 0;
    font-size: 1em;
    color: var(--title-color);
    background-color: var(--highlight-color);
    padding: 0 10px;
}
.project-summary .due-date span {
    margin: 10px 0;
    font-size: 1em;
    color: var(--bg-color);
    background-color: unset;
}
.project-summary .created-by {
    margin: 10px 0;
    font-size: 1em;
    color: var(--bg-color);
    padding: 0 10px;
}
.project-summary .created-by .avatar {
    transform: scale(0.3) translate(-100%, 100%);
    padding: 0;
    position: relative;
    margin-left: 5px;
    margin-bottom: -7px;
}
.project-summary .created-by span {
    margin: 10px 0;
    font-size: 1em;
    color: var(--primary-color);
}
.project-summary .details {
    margin: 30px 0;
    color: var(--dark-text-color);
    line-height: 1.8em;
    font-size: 1em;
}
.project-summary h4 {
    color: var(--primary-color);
    border-bottom: 1.5px solid var(--alt-bg-color);
    font-size: 1em;
}
.project-summary .assigned-users {
    display: flex;
    margin-top: 20px;
}
.project-summary .assigned-users .avatar {
    margin-right: 10px;
}
.project-summary + .btn {
    margin-top: 20px;
}

/* project comments */
.project-comments label {
    color: var(--light-text-color);
}
.project-comments textarea {
    min-height: 40px;
    font-size: 1.2em;
}
.project-comments span {
    color: var(--light-bg-color);
}

/* comment list */
.project-comments h4 {
    color: var(--heading-color);
}
.project-comments li {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background: var(--light-bg-color);
}
.comment-author {
    background-color: var(--primary-color);
    background-image: url('../../assets/pattern2.svg');
    font-weight: 500;
    padding: 5px;
    display: flex;
    align-items: center;
    color: var(--light-text-color);
}
.comment-author .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.comment-date {
    color: var(--alt-bg-color);
    padding: 0 10px;
    font-size: 0.9em;
    margin: 4px 0 10px;
}
.comment-content {
    color: var(--dark-text-color);
    font-size: 0.9em;
}
.comment-editor-window {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: 'Kanit', sans-serif;
}
