.avatar {
    display: inline-block;
    width: 50px;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.avatar.online {
    border: 1.5px solid var(--online-color);
    box-shadow: -2px 0px 10px var(--online-color);
}
.avatar.offline {
    border: 1.5px solid var(--offline-color);
    box-shadow: -2px 0px 10px var(--offline-color);
}
