.navbar {
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    margin-bottom: 80px;
}
.navbar ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
}
.navbar .logo {
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    color: var(--heading-color);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
}
.navbar .logo .logo-img {
    filter: invert(0.6);
    color: var(--highlight-color);
    text-shadow: 0 0 15px var(--highlight-color);
    font-size: 30px;
    margin-top: -8px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.navbar .logo:hover .logo-img {
    filter: invert(0);
    text-shadow: 0 0 30px red;
    margin-right: 15px;
}
.navbar a {
    text-decoration: none;
    color: var(--text-color);
    line-height: 0.8;
    margin-right: 15px;
    transition: all 0.3s;
}
.navbar a:hover {
    background: var(--highlight-color);
    color: var(--bg-color);
}
.navbar a span {
    color: var(--highlight-color);
    text-decoration: none;
    margin-right: 30px;
}

.navbar .logout-btn {
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
}
.logout-btn:hover {
    color: #fff;
    background-color: var(--highlight-color);
}
