.spinner-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.triangle {
    position: absolute;
    font-size: 0px;
    line-height: 0%;
    width: 0;
    left: 40%;
    top: 30%;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}
.triangle:nth-of-type(1n) {
    border-bottom: 120px solid var(--primary-color);
    animation: spinning 1.2s ease 0s infinite;
}
.triangle:nth-of-type(2n) {
    border-bottom: 120px solid var(--bg-color);
    animation: spinning 1.2s ease 0.1s infinite;
}
.triangle:nth-of-type(3n) {
    border-bottom: 120px solid var(--highlight-color);
    animation: spinning 1.2s ease 0.2s infinite;
}
.triangle:nth-of-type(4n) {
    border-bottom: 120px solid var(--primary-color);
    animation: spinning 1.2s ease 0.3s infinite;
}
.triangle:nth-of-type(5n) {
    border-bottom: 120px solid var(--bg-color);
    animation: spinning 1.2s ease 0.4s infinite;
}
.triangle:nth-of-type(6n) {
    border-bottom: 120px solid var(--highlight-color);
    animation: spinning 1.2s ease 0.5s infinite;
}

@keyframes spinning {
    0%,
    100% {
        scale: 0;
    }
    30% {
        scale: 1;
    }
    75% {
        scale: 0.9;
    }
    99% {
        scale: 0;
    }
}
