.auth-form {
    max-width: 360px;
    color: var(--primary-color);
    margin: 60px auto;
    padding: 40px;
    border: 2px solid var(--highlight-color);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background: #fff;
}
